<div class="ui raised segment">
  <h2 class="ui header">
    Demo Form SKU
  </h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text" id="skuInput" placeHolder="SKU" name="sku" [formControl]="myForm.controls['sku']">
      <div *ngIf="!sku.valid">
        SKU Require
      </div>
    </div>
    <div class="field">
      <label for="emailInput">EMAIL</label>
      <input type="text" id="emailInput" placeHolder="EMAIL" name="email" [formControl]="myForm.controls['email']">
    </div>
    <button type="submit" class="ui button">SUMBIT</button>
  </form>
</div>
